<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class="menu">
        <img class="img_main" src="/static/img/docs.png">
        <div class="main_button">File name</div>
        <!-- button menu -->
        <div class="button_togle">Change color</div>
        <div class="button_togle">Change color</div>
    </div>
</body>
</html>